:root {
    --primary-color: #EA572A;
    --purple: #7853A2;
    --purple-color: #9277B5;
    --purple1: #E6E1F0;
    --white: #fff;
    --black: #414042;
    --blue: #3994D1;
    --prink: #BA4693;
    --blue-color: #5DA7D9;
    --purple1: #E6E1F0;
    --black1: #58595B;
}